.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 35px;
    max-width: 1090px;
    height: 60px;
    position: relative;
    z-index: 100;
}

.navbar-container div {
    display: flex;
    align-items: center;
    max-width: 585px;
    min-height: 34.41px;
}

.navbar-container img {
    margin-right: 35px;
}

.navbar-container ul {
    font-size: calc(1em + 4px);
}

.navbar-container ul li {
    font-family: "ClashDisplay-Medium";
    display: inline-block;
    margin-right: 30px;
    color: black;
}
.navbar-container ul li:hover {
    color: #ff5555;
    cursor: pointer;
}
.navbar-container ul li:nth-child(4) {
    font-family: "ClashDisplay-Semibold";
    color: #ff5555;
}

.navbar-container button {
    width: 180px;
    font-family: "ClashDisplay-Medium";
    height: 60px;
    font-size: 18px;
    color: white;
    background-color: black;
    border-radius: 4px;
}

/* Medium Device*/
@media screen and (max-width: 765px) {
    .navbar-container {
        margin: 25px 10px;
    }
    .navbar-container ul li {
        margin-right: 10px;
        font-size: 14px;
    }

    .navbar-container button {
        width: 120px;
        height: 40px;
        font-size: 12px;
    }
}

/* Small Device*/
@media screen and (max-width: 565px) {
    .navbar-container ul li {
        margin-right: 10px;
        font-size: 12px;
    }

    .navbar-container button {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
}
