.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: -65px;
}

.content {
    max-width: 618px;
    position: relative;
}

.content > div > h1 {
    font-family: "ClashDisplay-Bold", sans-serif;
    font-size: 64px;
    margin-bottom: 30px;
}

.content > div > p {
    font-family: "ClashDisplay-Medium", sans-serif;
    color: gray;
    margin-bottom: 20px;
}

/* eclipse gradient*/
.content > img {
    position: absolute;
    left: 50px;
    bottom: 30px;
    z-index: -1;
}

.buttons {
    display: flex;
    align-items: center;
}

/* get started button*/
.buttons button:nth-child(1) {
    width: 180px;
    height: 60px;
    background-color: black;
    color: white;
    font-family: "ClashDisplay-Medium";
    border-radius: 4px;
    margin-right: 50px;
}

/* watch video button*/
.buttons button:nth-child(2) {
    display: inline-flex;
    align-items: center;
    font-family: "ClashDisplay-Medium";
    border: none;
    background-color: white;
    color: black;
}

.buttons button:nth-child(2) img {
    margin-right: 10px;
}

/* @media screen and (max-width: 765px) {
    .content > div > h1 {
        font-size: 48px;
        margin-bottom: 10px;
    }
} */
