.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 35px;
    width: 1090px;
    height: 60px;
    position: relative;
    z-index: 100;
}

.navbar-container div {
    display: flex;
    align-items: center;
    width: 585px;
    height: 34.41px;
}

.navbar-container img {
    margin-right: 35px;
}

.navbar-container ul {
    font-size: 20px;
}

.navbar-container ul li {
    font-family: "ClashDisplay-Medium";
    display: inline-block;
    margin-right: 30px;
    color: black;
}
.navbar-container ul li:hover {
    color: #ff5555;
    cursor: pointer;
}
.navbar-container ul li:nth-child(4) {
    font-family: "ClashDisplay-Semibold";
    color: #ff5555;
}

.navbar-container button {
    width: 180px;
    height: 60px;
    color: white;
    background-color: black;
    border-radius: 4px;
}

.navbar-container button:hover {
    cursor: pointer;
}
