.sec-2-wrapper {
    display: flex;
    width: 75vw;
    height: 600px;
    gap: 100px;
    margin: 30px auto;
    position: relative;
}

.sec-2-wrapper > div:nth-child(1) {
    margin-top: 100px;
}
.sec-2-wrapper > img:nth-child(3) {
    position: absolute;
    top: -10px;
    right: -100px;
}
.sec-2-wrapper > img:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 40%;
}
